---
---

@import '../_sass/variables';
@import 'bootstrap/scss/bootstrap';
@import '../_sass/stream';

.time-slider .prompts {
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 100%;
    display: none;
}

.btn-primary {
  color:#fff;
  background-color:#6c6c6d;
  border-color:#313131;
}

.btn-primary.reset {
  color:#fff;
  background-color:#6c6c6d;
  border-color:#313131;
}


.modal-backdrop.fade {
  display: none;
}

.modal-backdrop.fade.show {
  display: none;
}

footer {
    text-align: center;
}
