---
---

@import '../_sass/variables';
@import 'bootstrap/scss/bootstrap';
@import '../_sass/stream';

.div.prompts {
  top: -150px;
}

.btn-primary {
  color:#fff;
  background-color:#6c6c6d;
  border-color:#313131;
}

.btn-primary.reset {
  color:#fff;
  background-color:#6c6c6d;
  border-color:#313131;
}


.modal-backdrop.fade {
  display: none;
}

.modal-backdrop.fade.show {
  display: none;
}

footer {
    text-align: center;
}
