<header>
    <nav class="navbar navbar-fixed-top navbar-light bg-light container">
        <a class="navbar-brand">FBN - Furry Broadcasting Network Stream</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="https://furrybroadcasting.net/">FBN Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://megaplexcon.org//">MegaPlex</a>
                </li>
            </ul>
        </div>
    </nav>
</header>